/* common */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff1f1;
}
.container {
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
}

h2 {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

button {
  border: none;
  background-color: #f83232;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

input:focus {
  outline: none;
}
/* header */
.header {
  background-color: #b50e0e;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  height: 60px;
}

.header__logo {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  height: 60px;
  display: flex;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-direction: row;
}
.header__menu ul a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;

}

.login a,
.signin a {
  color: #f51414 !important;
}
/* searchbar   */
.searchbar {
  display: flex;
}

.searchbar__left {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.searchbar__left div {
  display: flex;
  width: 30%;
  padding: 10px;}
  .searchbar__left input {
    border: none;
    line-height: 40px;
    padding: 0 20px;
    color: #6d6d6d;
    font-size: 18px;
    font-weight: 600;
}
.searchbar__icon {
  height: 40px;
  display: inline-block;
}
.searchbar button {
  background-color: #f83232;
  width: 150px;
  border-radius: 10px;
}

/* homepage */
.homepage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("./image/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage h2 {
  color: #b50e0e;
}

/* login */

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}
.login h2 {
  color: #f51414;
  font-family: Limelight;
}
.login form {
  width: 100%;
}
.login form .alter {
    color: #f51414;
  }
.login form  button {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
.login .star {
  color: #f83232;
  display: inline;
}
.login input {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: solid 1px #f51414;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}
.login__ill {
  display: flex;
  width: 20px;
}
.login img {
  position: relative;
  width: 450px;
}
.login__left {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.login__left div {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.login__right {
  padding-top: 50px;
  width: 30%;
  background-color: #f51414;
  margin-right: -120px;
}

.left {
  position: absolute;
  width: 553.74px;
  height: 131.21px;
}

/* signup */
.signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}
.signup h2 {
  color: #f51414;
  font-family: Limelight;
}
.signup form {
  width: 100%;
  & .alter {
    color: #f51414;
  }
  & button {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  }
}
.signup .star {
  color: #f83232;
  display: inline;
}
.signup input {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: solid 1px #f51414;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}
.signup__ill {
  display: flex;
  width: 20px;
}

.signup__right {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.signup__right div {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.signup__left {
  padding-top: 50px;
  width: 25%;
}
.signup__left .recta1 {
  position: absolute;
  width: 15%;
  height: 500px;
  background-color: #d36565;
  margin-top: -100px;
  rotate: -10deg;
  border-radius: 90px;
  margin-left: 40px;
}
.signup__left .recta2 {
  position: absolute;
  width: 20%;
  height: 500px;
  background-color: #ff5858;
  margin-top: -60px;
  border-radius: 90px;
  margin-left: 50px;
}
.signup img {
  bottom: 150px;
  position: absolute;
  width: 450px;
}
